<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div id="a">
		a多胖<input type="number" v-model="obj.akg">
		b多胖<input type="number" v-model="obj.bkg">
		<div></div>
		{{ans}}
		<div></div>
		a比平均胖{{aavg}}
		<div></div>
		b比平均胖{{bavg}}
	</div>
	<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
	<script>
		let app = Vue.createApp({
			setup(){
				let obj = Vue.reactive({//必須recreative保持響應式
					akg:0,
					bkg:0,
					all:80
				});
				//computed只能引入函式本體  不能引入是函式的變數 ex let ans = Vue.computed(Math()) 這樣不行
				let ans = Vue.computed(()=>{ //引入響應式資料
					switch (true) {
            case obj.akg > obj.bkg:
              return "a重";
            case obj.akg < obj.bkg:
              return "b重";
            default:
              return "一樣重";
          }
				});
				let aavg = Vue.computed(()=>{
					return obj.akg-obj.all
				});
				let bavg = Vue.computed(()=>obj.bkg-obj.all)


				
				return{
					ans,obj,aavg,bavg
				}
			},
		});
		app.mount("#a")
	</script>
</body>
</html>

<!--	
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <title>Document</title>
</head>
<body>
  <div id="app">
    a重<input type="text" v-model="obj.a">公斤
    <br>
    b種 <input type="text" v-model="obj.b">公斤
    <br>
    {{res}}
    {{avg}}
  </div>
  <script>
    let {createApp,ref,computed,reactive} = Vue;
    let app = createApp({
      setup(){
        let obj = reactive({

        });
        let res = computed(()=>{
          if (obj.a&&obj.b){
            obj.a = parseFloat(obj.a)
            obj.b = parseFloat(obj.b);
            switch (true){
            case obj.a>obj.b:
              return `a比b肥${obj.a-obj.b}kg`
            case obj.b>obj.a:
              return `b比a肥${Math.abs(obj.a*1-obj.b*1)}kg`
            default:
              return "一樣肥"
          }
          }



        })
        let avg = computed(()=>{
            if (obj.a&&obj.b){
              obj.a = parseFloat(obj.a)
            obj.b = parseFloat(obj.b);
            return (obj.a+obj.b)/2
            }
          })

        return{
          obj,res,avg
        }
      }
    })
    app.mount("#app")
  </script>
</body>
</html>

-->

