<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .box{
      width:100px;height:100px;
      border:1px solid black;
      transition: all 0.3s;
      font-size:30px;
      line-height:100px;
      text-align:center;

    }
    .red{
      background-color: red;
    }
    .rotate{
      transform:rotate(45deg)
    }
    .fntSize{
        font-size: 100px;
    }
    .bgyellow{
      background-color: yellow;
    }
    .border{
      border:10px solid black
    }
  </style>
</head>
<body>
  <div id="app"></div>

  <script type="text/x-template" id="apphtml">
    簡單的說 多個class引入就是序列[a,b,c]
    <!-- 
      第一個方法
    <div :class="lst"></div> 這樣一個標籤 使用computed物件引入class
    obj = computed(()=>{
      return {
        classA:布林,
        classB:布林
      }
          })

      第二個方法
      <div :class="lst"></div>
      let lst = ['a','b','c']
      然後裡面的abc可以透過 使用同一個v-model的checkbox們各自的value增減

      第三個方法
      不是透過class 而是直接對標籤指定style
      <div :style='obj'> </div>
      let obj = {
        width:'10px',
        height:'30px',
        border:'1px solid black'
      }
      
      或是
      <div :style='[{backgroundColor:'red'},{color:'blue'}]'></div>
      以序列包裹物件方式對標籤指定多個css屬性

      第三個方法重點是:stlye 不管他有沒有用上js的資料
 -->
    <br>
    a,b,c都是獨立的className
    <br>
    其中可以使用判斷式 如需使用判斷式 則以物件形式引入{"className":判斷式}
    <!-- 這節課上導入元素的style的方法 -->
    <div>以computed物件型態導入判斷式</div>
    <!-- <div :class="['box',{'red':isRed,'rotate':isRotate}]"></div> -->
    <!-- 上面可以簡寫成下面 因為那個其實物物件型態
    但是要用computed追蹤 不能用ref以及reactive 我也不知道為啥 -->
    <div :class="['box',obj]"></div>
    <input type="checkbox" v-model='isRed'>切換色彩
    <div @click='isRotate = !isRotate'>isRotate</div>
    <hr>

    <div>使用序列引入class序列
      使用checkbox決定加入哪個class
      但是你他媽class裡的屬性不能重疊
      比方說兩個class都有背景色屬性
      這樣他媽會在猛種程度上打架
      還不是每次打架
      是某種程度上打架幹你娘
    </div>
    <div :class="classLst">自</div>
    <input type="checkbox" v-model='classLst' value="fntSize">fntSize
    <input type="checkbox" v-model="classLst" value="bgyellow">背景變黃
    <input type="checkbox" v-model="classLst" value="border">border變粗
    <hr>

    <div>直接以行內方式(style)輸入樣式 格式是物件</div>
    <div :style='styleObj'></div>
    <div :style="[{width:'70px'},{height:'30px'},{backgroundColor:'pink'},{borderRadius:'30'}]"></div>
 

  </script>
  <script>
    let {createApp ,ref,reactive,computed} = Vue;
    let app = createApp({
      template:"#apphtml",
      setup(){
        let isRed = ref(false);
        let isRotate = ref(false);
        let obj = computed(()=>{
          return {
          red:isRed.value,
          rotate:isRotate.value
        }
        });

        let classLst = ref(["box"]);
        let styleObj = {
          width:"75px",
          height:"75px",
          borderRadius:"100%",
          backgroundColor:"green"
        }
        return{
          obj,isRed,isRotate,classLst,styleObj
        }
      }
    });

    app.mount("#app")
  </script>
</body>
</html>