<script setup>
  import axios from 'axios';
  import {ref,onMounted,inject,watch} from "vue";
  import {headAPI,myAPI,getData,getDot} from "@/functions.js";
  import {Modal} from "bootstrap";
  import * as yup from 'yup';
  import { Form, Field, ErrorMessage } from 'vee-validate';
  import { useForm } from 'vee-validate';





  let emits = defineEmits(['toDad']);
  let data = ref({});


 function onSubmit(val){

    console.log(val);
    console.log(data.value);
    data.value = {}

  
    
  }
  const schema = yup.object().shape({
    title:yup.string().required('必須名稱'),
    code:yup.string().required('必須優惠碼'),
  
    percent:yup.string().required('必須百分比').test('百分比數字','數字',(val)=>{
      return !isNaN(val)
    }),
    duedate:yup.string().required('必須過期日')

  })

</script>
<template>
  <div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">新增coupon</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="couponWrap">
          <Form :validation-schema="schema" @submit="onSubmit">
            <Field  v-slot="{field,errors}" name="title">
              <input v-bind="field" type="text" v-model="data.title" :class="{'nono':errors.length>0}" >
            </Field>
            <ErrorMessage name="title"></ErrorMessage>
            <Field v-slot="{field,errors}" name="code">
              <input  v-bind="field" type="text" v-model="data.code">
            </Field>
            <ErrorMessage name="code"></ErrorMessage>
            <Field v-slot="{field,errors}" name="duedate">
              <input  v-bind="field"  type="date" v-model="data.due_date">
            </Field>
          <!-- </label> -->
          <ErrorMessage name="duedate"></ErrorMessage>
          <!-- <label for="">折扣百分比 -->
            <Field v-slot="{field,errors}" name="percent">
              <input v-bind="field"  type="text" v-model="data.percent">
            </Field>
          <!-- </label> -->
          <ErrorMessage name="percent"></ErrorMessage>
          <!-- <label for="">是否啟用 -->
          
              <input  type="checkbox" v-model="data.is_enabled" true-value="1" false-value="0">
           
          <!-- </label> -->

 
            <button></button>
          </Form>
        </div>
 
      </div>

    </div>
  </div>
</div>

</template>
<style scoped>
  input,label{
    width:100%;
  }
  label{

  }
  .nono{
    background-color: red;
  }

</style>